.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.cell {
  width: 500px;
  height: 50px;
  border: 1px solid black;
}

.game-cont {
  margin: auto;
}

.board {
  margin: auto;
  border-spacing: 0;
}

.board:hover{
  cursor: pointer;
}

.blank {
  background-color: rgb(11, 11, 11);
}

.rule {
  background-image: url("./img/grayBack.png");
  position: relative;
}

.rule > span > .left {
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 1.2em;
}

.rule > span > .right {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 1.2em;
}

.input {
  background-color:white;
  font-size: 2em;
  font-weight: bold;
}

.input:hover {
  border: 4px rgb(4, 0, 238) solid;
}

.keypad {
  margin: auto;
  width: 540px;
}

.keypad > span {
  display: inline-block;
}

.select-num {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  right: 25%;
  z-index: 1000;
  transition: 0.5s
}

.num-btn {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: black 2px solid;
  border-radius: 5px;
}

.num-btn:hover {
  transition: 0.5s;
  background: black;
  color: white;
}


.line {
  height: 50px;
  width: 50px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
}

@media (min-width: 820px) {
  .cell {
    width: 60px;
    height: 60px;
  }
}