.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.board {
  margin: auto;
  border-spacing: 0;
}

.board:hover{
  cursor: pointer;
}

.blank {
  background-color: rgb(11, 11, 11);
}

.rule {
  background-image: url("./img/grayBack.png");
  position: relative;
}

.rule > span > .left {
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 1.2em;
}

.rule > span > .right {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 1.2em;
}

.input {
  background-color: white;
}

.line {
  height: 50px;
  width: 50px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
}