.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black
}

.board {
  margin: auto;
  border-spacing: 0;
}

.blank {
  background-color: black;
}

.rule {
  background-color: gray;
}

.input {
  background-color: white;
}

.line {
  height: 50px;
  width: 50px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
}